In [5]:
# from config import api_key
import pandas as pd
import numpy as np

In [6]:
# Data files
game_details_path = "games_details.csv"
games_path = "games.csv"
team_path = "teams.csv"

# Read the data files
game_details_data = pd.read_csv(game_details_path)
games_data = pd.read_csv(games_path)
teams_data = pd.read_csv(team_path)

In [11]:
game_details_data.head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,42000102,1610612764,WAS,Washington,203078,Bradley Beal,F,NaN,34:36,14.0,...,0.0,4.0,4.0,3.0,1.0,0.0,1.0,0.0,33.0,-22.0
1,42000102,1610612764,WAS,Washington,1629060,Rui Hachimura,F,NaN,25:50,4.0,...,2.0,5.0,7.0,1.0,0.0,0.0,3.0,4.0,11.0,-6.0
2,42000102,1610612764,WAS,Washington,203458,Alex Len,C,NaN,12:11,3.0,...,3.0,2.0,5.0,0.0,1.0,0.0,0.0,2.0,6.0,-11.0
3,42000102,1610612764,WAS,Washington,203526,Raul Neto,G,NaN,19:19,2.0,...,1.0,2.0,3.0,1.0,0.0,0.0,0.0,2.0,4.0,-17.0
4,42000102,1610612764,WAS,Washington,201566,Russell Westbrook,G,NaN,29:07,2.0,...,2.0,4.0,6.0,11.0,0.0,0.0,4.0,0.0,10.0,-16.0

In [8]:
games_data.head()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2021-05-26,42000102,Final,1610612755,1610612764,2020,1610612755,120.0,0.557,0.684,...,26.0,45.0,1610612764,95.0,0.402,0.633,0.091,22.0,40.0,1
1,2021-05-26,42000132,Final,1610612752,1610612737,2020,1610612752,101.0,0.383,0.739,...,15.0,54.0,1610612737,92.0,0.369,0.818,0.273,17.0,41.0,1
2,2021-05-26,42000142,Final,1610612762,1610612763,2020,1610612762,141.0,0.544,0.774,...,28.0,42.0,1610612763,129.0,0.541,0.763,0.348,20.0,33.0,1
3,2021-05-25,42000112,Final,1610612751,1610612738,2020,1610612751,130.0,0.523,0.955,...,31.0,46.0,1610612738,108.0,0.424,0.783,0.353,23.0,43.0,1
4,2021-05-25,42000152,Final,1610612756,1610612747,2020,1610612756,102.0,0.465,0.933,...,21.0,31.0,1610612747,109.0,0.450,0.871,0.303,24.0,39.0,0

In [9]:
teams_data.head()

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,0,1610612737,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks
1,0,1610612738,1946,2019,BOS,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws
2,0,1610612740,2002,2019,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
3,0,1610612741,1966,2019,CHI,Bulls,1966,Chicago,United Center,21711.0,Jerry Reinsdorf,Gar Forman,Jim Boylen,Windy City Bulls
4,0,1610612742,1980,2019,DAL,Mavericks,1980,Dallas,American Airlines Center,19200.0,Mark Cuban,Donnie Nelson,Rick Carlisle,Texas Legends

In [12]:
# merging games details data with games data

merged = game_details_data.merge(games_data, on='GAME_ID')
merged

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,42000102,1610612764,WAS,Washington,203078,Bradley Beal,F,NaN,34:36,14.0,...,26.0,45.0,1610612764,95.0,0.402,0.633,0.091,22.0,40.0,1
1,42000102,1610612764,WAS,Washington,1629060,Rui Hachimura,F,NaN,25:50,4.0,...,26.0,45.0,1610612764,95.0,0.402,0.633,0.091,22.0,40.0,1
2,42000102,1610612764,WAS,Washington,203458,Alex Len,C,NaN,12:11,3.0,...,26.0,45.0,1610612764,95.0,0.402,0.633,0.091,22.0,40.0,1
3,42000102,1610612764,WAS,Washington,203526,Raul Neto,G,NaN,19:19,2.0,...,26.0,45.0,1610612764,95.0,0.402,0.633,0.091,22.0,40.0,1
4,42000102,1610612764,WAS,Washington,201566,Russell Westbrook,G,NaN,29:07,2.0,...,26.0,45.0,1610612764,95.0,0.402,0.633,0.091,22.0,40.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
617387,11200005,1610612743,DEN,Denver,202706,Jordan Hamilton,NaN,NaN,19,4.0,...,21.0,40.0,1610612743,106.0,0.532,0.615,0.471,25.0,34.0,0
617388,11200005,1610612743,DEN,Denver,202702,Kenneth Faried,NaN,NaN,23,7.0,...,21.0,40.0,1610612743,106.0,0.532,0.615,0.471,25.0,34.0,0
617389,11200005,1610612743,DEN,Denver,201585,Kosta Koufos,NaN,NaN,15,3.0,...,21.0,40.0,1610612743,106.0,0.532,0.615,0.471,25.0,34.0,0
617390,11200005,1610612743,DEN,Denver,202389,Timofey Mozgov,NaN,NaN,19,1.0,...,21.0,40.0,1610612743,106.0,0.532,0.615,0.471,25.0,34.0,0
617391,11200005,1610612743,DEN,Denver,201951,Ty Lawson,NaN,NaN,27,3.0,...,21.0,40.0,1610612743,106.0,0.532,0.615,0.471,25.0,34.0,0

In [13]:
# merging teams data to merged data

final_merged = merged.merge(teams_data, on='TEAM_ID')
final_merged

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,...,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,42000102,1610612764,WAS,Washington,203078,Bradley Beal,F,NaN,34:36,14.0,...,WAS,Wizards,1961,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Scott Brooks,Capital City Go-Go
1,42000102,1610612764,WAS,Washington,1629060,Rui Hachimura,F,NaN,25:50,4.0,...,WAS,Wizards,1961,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Scott Brooks,Capital City Go-Go
2,42000102,1610612764,WAS,Washington,203458,Alex Len,C,NaN,12:11,3.0,...,WAS,Wizards,1961,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Scott Brooks,Capital City Go-Go
3,42000102,1610612764,WAS,Washington,203526,Raul Neto,G,NaN,19:19,2.0,...,WAS,Wizards,1961,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Scott Brooks,Capital City Go-Go
4,42000102,1610612764,WAS,Washington,201566,Russell Westbrook,G,NaN,29:07,2.0,...,WAS,Wizards,1961,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Scott Brooks,Capital City Go-Go
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
617387,11200021,1610612758,SAC,Sacramento,201977,Marcus Thornton,NaN,NaN,24,3.0,...,SAC,Kings,1948,Sacramento,Golden 1 Center,17500.0,Vivek Ranadive,Vlade Divac,Luke Walton,Stockton Kings
617388,11200021,1610612758,SAC,Sacramento,203080,Thomas Robinson,NaN,NaN,29,4.0,...,SAC,Kings,1948,Sacramento,Golden 1 Center,17500.0,Vivek Ranadive,Vlade Divac,Luke Walton,Stockton Kings
617389,11200021,1610612758,SAC,Sacramento,203183,Tony Mitchell,NaN,NaN,5,0.0,...,SAC,Kings,1948,Sacramento,Golden 1 Center,17500.0,Vivek Ranadive,Vlade Divac,Luke Walton,Stockton Kings
617390,11200021,1610612758,SAC,Sacramento,201936,Tyreke Evans,NaN,NaN,24,4.0,...,SAC,Kings,1948,Sacramento,Golden 1 Center,17500.0,Vivek Ranadive,Vlade Divac,Luke Walton,Stockton Kings
617391,11200021,1610612758,SAC,Sacramento,203186,Willie Reed,NaN,NaN,2,0.0,...,SAC,Kings,1948,Sacramento,Golden 1 Center,17500.0,Vivek Ranadive,Vlade Divac,Luke Walton,Stockton Kings

In [14]:
final_merged.to_csv("output.csv", index=False)

PermissionError: [Errno 13] Permission denied

In [70]:
#only focus on season 2018
mask = final_merged.SEASON == 2018
mask1 = final_merged[mask]
mask1

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,...,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
11865,21801211,1610612764,WAS,Washington,1628972,Troy Brown Jr.,F,NaN,19:10,2.0,...,WAS,Wizards,1961,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Scott Brooks,Capital City Go-Go
11866,21801211,1610612764,WAS,Washington,1626171,Bobby Portis,F,NaN,22:46,4.0,...,WAS,Wizards,1961,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Scott Brooks,Capital City Go-Go
11867,21801211,1610612764,WAS,Washington,1628418,Thomas Bryant,C,NaN,17:17,6.0,...,WAS,Wizards,1961,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Scott Brooks,Capital City Go-Go
11868,21801211,1610612764,WAS,Washington,203078,Bradley Beal,G,NaN,16:32,6.0,...,WAS,Wizards,1961,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Scott Brooks,Capital City Go-Go
11869,21801211,1610612764,WAS,Washington,203107,Tomas Satoransky,G,NaN,27:40,6.0,...,WAS,Wizards,1961,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Scott Brooks,Capital City Go-Go
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610590,11800015,1610612758,SAC,Sacramento,201585,Kosta Koufos,NaN,DND - Injury/Illness,NaN,NaN,...,SAC,Kings,1948,Sacramento,Golden 1 Center,17500.0,Vivek Ranadive,Vlade Divac,Luke Walton,Stockton Kings
610591,11800015,1610612758,SAC,Sacramento,203564,Kalin Lucas,NaN,DNP - Coach's Decision,NaN,NaN,...,SAC,Kings,1948,Sacramento,Golden 1 Center,17500.0,Vivek Ranadive,Vlade Divac,Luke Walton,Stockton Kings
610592,11800015,1610612758,SAC,Sacramento,2216,Zach Randolph,NaN,DNP - Coach's Decision,NaN,NaN,...,SAC,Kings,1948,Sacramento,Golden 1 Center,17500.0,Vivek Ranadive,Vlade Divac,Luke Walton,Stockton Kings
610593,11800015,1610612758,SAC,Sacramento,1629244,Cameron Reynolds,NaN,DNP - Coach's Decision,NaN,NaN,...,SAC,Kings,1948,Sacramento,Golden 1 Center,17500.0,Vivek Ranadive,Vlade Divac,Luke Walton,Stockton Kings
610594,11800015,1610612758,SAC,Sacramento,202697,Iman Shumpert,NaN,DND - Injury/Illness,NaN,NaN,...,SAC,Kings,1948,Sacramento,Golden 1 Center,17500.0,Vivek Ranadive,Vlade Divac,Luke Walton,Stockton Kings

In [71]:
# excluding pre-season games
new_data = mask1[mask1["GAME_ID"] > 20000000]

new_data

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,...,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
11865,21801211,1610612764,WAS,Washington,1628972,Troy Brown Jr.,F,NaN,19:10,2.0,...,WAS,Wizards,1961,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Scott Brooks,Capital City Go-Go
11866,21801211,1610612764,WAS,Washington,1626171,Bobby Portis,F,NaN,22:46,4.0,...,WAS,Wizards,1961,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Scott Brooks,Capital City Go-Go
11867,21801211,1610612764,WAS,Washington,1628418,Thomas Bryant,C,NaN,17:17,6.0,...,WAS,Wizards,1961,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Scott Brooks,Capital City Go-Go
11868,21801211,1610612764,WAS,Washington,203078,Bradley Beal,G,NaN,16:32,6.0,...,WAS,Wizards,1961,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Scott Brooks,Capital City Go-Go
11869,21801211,1610612764,WAS,Washington,203107,Tomas Satoransky,G,NaN,27:40,6.0,...,WAS,Wizards,1961,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Scott Brooks,Capital City Go-Go
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610506,21800011,1610612758,SAC,Sacramento,1628412,Frank Mason,NaN,NaN,4:59,1.0,...,SAC,Kings,1948,Sacramento,Golden 1 Center,17500.0,Vivek Ranadive,Vlade Divac,Luke Walton,Stockton Kings
610507,21800011,1610612758,SAC,Sacramento,1628385,Harry Giles III,NaN,NaN,9:38,1.0,...,SAC,Kings,1948,Sacramento,Golden 1 Center,17500.0,Vivek Ranadive,Vlade Divac,Luke Walton,Stockton Kings
610508,21800011,1610612758,SAC,Sacramento,1629117,Wenyen Gabriel,NaN,DNP - Coach's Decision,NaN,NaN,...,SAC,Kings,1948,Sacramento,Golden 1 Center,17500.0,Vivek Ranadive,Vlade Divac,Luke Walton,Stockton Kings
610509,21800011,1610612758,SAC,Sacramento,1627746,Skal Labissiere,NaN,DNP - Coach's Decision,NaN,NaN,...,SAC,Kings,1948,Sacramento,Golden 1 Center,17500.0,Vivek Ranadive,Vlade Divac,Luke Walton,Stockton Kings
610510,21800011,1610612758,SAC,Sacramento,203463,Ben McLemore,NaN,DNP - Coach's Decision,NaN,NaN,...,SAC,Kings,1948,Sacramento,Golden 1 Center,17500.0,Vivek Ranadive,Vlade Divac,Luke Walton,Stockton Kings

# Stadium - Home Team wins

In [72]:
stadium_DF = new_data[['GAME_ID','ARENA', 'TEAM_CITY', 'HOME_TEAM_WINS']].copy()
stadium_DF

         GAME_ID              ARENA   TEAM_CITY  HOME_TEAM_WINS
11865   21801211  Capital One Arena  Washington               0
11866   21801211  Capital One Arena  Washington               0
11867   21801211  Capital One Arena  Washington               0
11868   21801211  Capital One Arena  Washington               0
11869   21801211  Capital One Arena  Washington               0
...          ...                ...         ...             ...
610506  21800011    Golden 1 Center  Sacramento               0
610507  21800011    Golden 1 Center  Sacramento               0
610508  21800011    Golden 1 Center  Sacramento               0
610509  21800011    Golden 1 Center  Sacramento               0
610510  21800011    Golden 1 Center  Sacramento               0

[32928 rows x 4 columns]

In [73]:
# Checking for number of stadiums
stadium_DF["ARENA"].nunique()

29

In [74]:
# finding the total wins for each stadium
stadium_total = stadium_DF.groupby(["ARENA"]).nunique()["HOME_TEAM_WINS"].sum()
stadium_total

gameid_total = stadium_DF.groupby("ARENA")["GAME_ID"].nunique()
gameid_total


#create dataframe
stadium_sum = pd.DataFrame({
    "Total Wins": stadium_total,
    "Number of Games": gameid_total,
})
stadium_sum

                            Total Wins  Number of Games
ARENA
AT&T Center                         58               89
American Airlines Center            58               82
AmericanAirlines Arena              58               82
Amway Center                        58               87
Bankers Life Fieldhouse             58               86
Barclays Center                     58               87
Capital One Arena                   58               82
Chase Center                        58              104
Chesapeake Energy Arena             58               87
FedExForum                          58               82
Fiserv Forum                        58               97
Golden 1 Center                     58               82
Little Caesars Arena                58               86
Madison Square Garden               58               82
Moda Center                         58               98
Pepsi Center                        58               96
Quicken Loans Arena                 58               82
Scotiabank Arena                    58              106
Smoothie King Center                58               82
Spectrum Center                     58               82
Staples Center                      58              166
State Farm Arena                    58               82
TD Garden                           58               91
Talking Stick Resort Arena          58               82
Target Center                       58               82
Toyota Center                       58               93
United Center                       58               82
Vivint Smart Home Arena             58               87
Wells Fargo Center                  58               94

# City - # games/wins

In [81]:
city_DF = new_data[['GAME_ID','TEAM_CITY', 'HOME_TEAM_WINS']].copy()
city_DF

         GAME_ID   TEAM_CITY  HOME_TEAM_WINS
11865   21801211  Washington               0
11866   21801211  Washington               0
11867   21801211  Washington               0
11868   21801211  Washington               0
11869   21801211  Washington               0
...          ...         ...             ...
610506  21800011  Sacramento               0
610507  21800011  Sacramento               0
610508  21800011  Sacramento               0
610509  21800011  Sacramento               0
610510  21800011  Sacramento               0

[32928 rows x 3 columns]

In [90]:
drop_dup = city_DF.drop_duplicates(subset = ["GAME_ID"])
drop_dup

         GAME_ID      TEAM_CITY  HOME_TEAM_WINS
11865   21801211     Washington               0
11878   21801204     Washington               1
11890   21801182     Washington               0
11903   21801167     Washington               0
11915   21801148     Washington               0
...          ...            ...             ...
569775  21800022    New Orleans               1
589297  21800890  Oklahoma City               0
589660  21800466  Oklahoma City               0
589841  21800247  Oklahoma City               1
590006  21800037  Oklahoma City               0

[1312 rows x 3 columns]

In [82]:
gameid_dup = city_DF.groupby("TEAM_CITY")["GAME_ID"].nunique()
gameid_dup

team_dup = city_DF.groupby("TEAM_CITY").nunique()["HOME_TEAM_WINS"].sum()
team_dup


#create dataframe
city_sum = pd.DataFrame({
    "Number of Games": gameid_dup,
    "Home Wins": team_dup,
})
city_sum

               Number of Games  Home Wins
TEAM_CITY
Atlanta                     82         60
Boston                      91         60
Brooklyn                    87         60
Charlotte                   82         60
Chicago                     82         60
Cleveland                   82         60
Dallas                      82         60
Denver                      96         60
Detroit                     86         60
Golden State               104         60
Houston                     93         60
Indiana                     86         60
LA                          88         60
Los Angeles                 82         60
Memphis                     82         60
Miami                       82         60
Milwaukee                   97         60
Minnesota                   82         60
New Orleans                 82         60
New York                    82         60
Oklahoma City               87         60
Orlando                     87         60
Philadelphia                94         60
Phoenix                     82         60
Portland                    98         60
Sacramento                  82         60
San Antonio                 89         60
Toronto                    106         60
Utah                        87         60
Washington                  82         60

In [89]:
gameid_dup = city_DF.groupby("GAME_ID")["HOME_TEAM_WINS"].count()
gameid_dup

# team_dup = city_DF.groupby("TEAM_CITY")["HOME_TEAM_WINS"].sum()
# team_dup


#create dataframe
city_sum = pd.DataFrame({
    "Number of Games": gameid_dup,
#     "Home Wins": team_dup,
})
city_sum

          Number of Games
GAME_ID
21800001               26
21800002               26
21800003               26
21800004               27
21800005               26
...                   ...
41800402               26
41800403               26
41800404               26
41800405               26
41800406               26

[1312 rows x 1 columns]

In [ ]:
 = pd.merge(team_point_agg_df, teams [['TEAM_ID','CITY','ABBREVIATION','ARENA','NICKNAME']], right_on=['TEAM_ID'],left_on=['TEAM_ID'], how='inner')
Team_vs_Points.head(10)

# Stats of each City: owners, head coaches, win/loss

In [68]:
team_info = new_data[['GAME_ID','TEAM_CITY', 'OWNER','HEADCOACH', 'HOME_TEAM_WINS']].copy()
team_info

         GAME_ID   TEAM_CITY           OWNER     HEADCOACH  HOME_TEAM_WINS
0       42000102  Washington     Ted Leonsis  Scott Brooks               1
1       42000102  Washington     Ted Leonsis  Scott Brooks               1
2       42000102  Washington     Ted Leonsis  Scott Brooks               1
3       42000102  Washington     Ted Leonsis  Scott Brooks               1
4       42000102  Washington     Ted Leonsis  Scott Brooks               1
...          ...         ...             ...           ...             ...
617294  21200007  Sacramento  Vivek Ranadive   Luke Walton               1
617295  21200007  Sacramento  Vivek Ranadive   Luke Walton               1
617296  21200007  Sacramento  Vivek Ranadive   Luke Walton               1
617297  21200007  Sacramento  Vivek Ranadive   Luke Walton               1
617298  21200007  Sacramento  Vivek Ranadive   Luke Walton               1

[539792 rows x 5 columns]

In [69]:
gameid_dup = city_DF.groupby("TEAM_CITY")["GAME_ID"].nunique()
gameid_dup

team_dup = city_DF.groupby("TEAM_CITY").nunique()["HOME_TEAM_WINS"].sum()
team_dup


#create dataframe
team_sum = pd.DataFrame({
    "Owner": OWNER,
    "Head Coach": HEADCOACH,
    "Number of Games": gameid_dup,
    "Home Wins": team_dup,
    
})
team_sum

NameError: name 'OWNER' is not defined

# Stats breakdown by team